 h1 {
  font-size: 30px;
  color: white;
  margin-top: 200px;
  margin-left: 300px;
  font-family: Cambria;
  font-style: italic;
}

h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 300px;
}

a {
color: white;
}
  

    